In [1]:
# 1. EXTRAÇÃO
import pandas as pd

# Lendo o arquivo original
df = pd.read_csv("clientes_ficticios.csv", encoding="latin-1")
print("Dados originais:")
print(df)

Dados originais:
   ID              Nome    Conta               Cartão
0   1    Anelina Python  12345-6  4111 1111 1111 1111
1   2  Carleto Notebook  23456-7  5500 0000 0000 0004
2   3       FerpandaDev  34567-8   3400 0000 0000 009
3   4  JSon do Satander  45678-9  6011 0000 0000 0004

In [2]:
# 2. TRANSFORMAÇÃO
# Normalizar nomes (tudo maiúsculo)
df["Nome"] = df["Nome"].str.upper()

# Remover espaços dos números de cartão
df["Cartão"] = df["Cartão"].str.replace(" ", "")

# Criar coluna 'Agência' fictícia
df["Agência"] = ["001", "002", "003", "004"]

# Criar coluna 'Saldo Inicial' fictício
df["Saldo_Inicial"] = [5000, 3000, 7000, 4500]

print("\nDados transformados:")
print(df)

Dados transformados:
   ID              Nome    Conta            Cartão Agência  Saldo_Inicial
0   1    ANELINA PYTHON  12345-6  4111111111111111     001           5000
1   2  CARLETO NOTEBOOK  23456-7  5500000000000004     002           3000
2   3       FERPANDADEV  34567-8   340000000000009     003           7000
3   4  JSON DO SATANDER  45678-9  6011000000000004     004           4500

In [3]:
# 3. CARREGAMENTO
# Salvar em novo CSV
df.to_csv("clientes_transformados.csv", index=False, encoding="latin-1")

print("\nArquivo 'clientes_transformados.csv' criado com sucesso!")

Arquivo 'clientes_transformados.csv' criado com sucesso!